.cardtitle {
  text-align: center !important;
}
header.ant-layout-header {
  padding: 0 25px !important;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 15px;
  }
  td {
    font-size: 15px;
  }
}


