.cardtitle {
  text-align: center !important;
}
header.ant-layout-header {
  padding: 0 25px !important;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 15px;
  }
  td {
    font-size: 15px;
  }
  div.ant-col.ant-col-xs-24.ant-col-sm-24.ant-col-md-24.ant-col-lg-17{
    padding-top: 25px;
  }
  .ant-divider.ant-divider-horizontal{
    margin-top: 0;
  }
}


